In [1]:
import pandas as pd
import numpy as np

In [2]:
# 通过series来创建
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
df = pd.DataFrame({"第一列":s1,"第二列":s2})
df

   第一列  第二列
0    1    6
1    2    7
2    3    8
3    4    9
4    5   10

In [8]:
# 通过字典来创建
df = pd.DataFrame(
    {
    "name":["张三","李四","王五","赵六","小七"],
    "age":[18,19,20,21,22],
    "score":[80,90,100,80,90]
    },index=[1,2,3,4,5],columns=["name","age","score"]
)
df

  name  age  score
1   张三   18     80
2   李四   19     90
3   王五   20    100
4   赵六   21     80
5   小七   22     90